.abalone{
	background-color: red;
}
.ash{
	color: #544C4A;
}
.margin-left{
	margin-left: 10%;
}
.L_arrow{
	margin-left: 50%; 
}
.R_arrow{
	margin-right: 50%; 
}
.a{
	width: 40%;
	height: 100%;
}
.fontsize{
	font-size: 100px;
}

.exercise{
	background-color: #ADD8E6;
}

